body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: tomato;
}

.topsection {
    display: flex;
    padding-left: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
    margin-top: 30px;
}

.hiremebutton {
    text-decoration: none;
    background-image: linear-gradient(yellow, tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;

}

a:hover {
    background-image: linear-gradient(gray, black);
}

.section2 {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}