body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.name {
    color: tomato;
}

.topsection {
    display: flex;
    padding-left: 5%;
}

.half-width {
    width: 50%;
}

.half-width img {
    width: 80%;
}

.hiremebutton {
    text-decoration: none;
    background-image: linear-gradient(yellow, tomato);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 40px;
}